<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bags</title>
    <link rel="stylesheet" href="http://localhost:3000/product_page/styles.css" type="text/css">
    <script src="http://localhost:3000/product_page/script.js" defer></script>
</head>
<body>

<header>
    <div class="section_heading" onmouseenter="delAllSections()">
        <a href="/">Shop name</a>
    </div>
    <div class="section_heading" id="brandName_title" onmouseenter="addSection(event)">
        <p>Brand names</p>
    </div>
    <div class="section_heading" id="news_title" onmouseenter="addSection(event)">
        <p>News</p>
    </div>
    <div class="section_heading" id="bags_title" onmouseenter="addSection(event)">
        <a href="/bags">Bags</a>
    </div>
    <div class="section_heading" id="women_title" onmouseenter="addSection(event)">
        <p>Women</p>
    </div>
    <div class="section_heading" id="men_title" onmouseenter="addSection(event)">
        <p>Men</p>
    </div>
    <div class="section_heading" id="sales_title" onmouseenter="addSection(event)">
        <p>Sales</p>
    </div>
    <div class="section_heading" onmouseenter="delAllSections()">
        <img src="http://localhost:3000/images/icons.png">
    </div>

    <div class="section" id="brandName" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
        </div>
    </div>

    <div class="section" id="news" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="bags" onmouseleave="delSection(event)" >
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="men" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="women" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="sales" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

</header>


<main>
    <div id="main_block">
        <div id="picture_block">
            <div id="movable_pictures">
                <img id="first_picture" src="http://localhost:3000/images/le_chiquito_long_white.png" height="80%" width="100%">
                <img id="second_picture" src="http://localhost:3000/images/le_chiquito_long_white_3.png" height="80%" width="100%">
                <img id="third_picture" src="http://localhost:3000/images/le_chiquito_long_white_4.png" height="80%" width="100%">
            </div>
            <div id="arrow_left">
                <img src="http://localhost:3000/images/arrow_left.png"  id="to_left" onclick="transitionLeft()">
            </div>
            <div id="arrow_right">
                <img src="http://localhost:3000/images/arrow_right.png" id="to_right" onclick="transitionRight()">
            </div>
        </div>
        <div id="inf_block">
            <section id="title_prod">CLIO PEPPIATT</section>
            <section id="add_text">Petal embellished satin tote</section>
            <div class="section_data" id="amount_price">
                <p class="extra_text">Amount left: </p>
                <section id="amount_left"> </section>
            </div>
            <div class="section_data">
                <h4 >AED</h4>
                <section id="price">  </section>
                <p class="extra_text" id="local_taxes">(Local taxes and duties included)</p>
            </div>
            <div class="section_data" id="color_section">
                <p class="extra_text">Color:  </p>
                <section id="color_picked">  </section>
            </div>
            <section id="color_menu">

            </section>
            <button id="add_to_bag"> Add to Bag</button>
            <div id="addition_info">
                <div class="menu" id="editor">
                    <div class="flex_row">
                        <p class="add_inf_header">EDITOR'S NOTES</p>
                        <button class="button_category"  onclick="displayParameters('editor')">
                            <img src="http://localhost:3000/images/arrow.png" height="25xp">
                        </button>
                    </div>
                    <div id="editor_parameters">
                        <p>Clio Peppiatt's 'Petal' tote will bring a touch of femininity to every outfit.
                            Made from satin, it's hand-embellished with beads and faux pearls that beautifully catch the light from every angle.
                            It can easily fit your night-out essentials, like a phone, keys and lip gloss.</p>

                    </div>
                </div>

                <div class="menu" id="size">
                    <div class="flex_row">
                        <p class="add_inf_header">SIZE</p>
                        <button class="button_category" onclick="displayParameters('size')">
                            <img src="http://localhost:3000/images/arrow.png" height="25xp">
                        </button>
                    </div>
                    <div id="size_parameters">
                        <p>This item’s measurements are:
                            Product measurements:
                            Handle Drop: 6cm / 2.4in
                            Height: 13cm / 5.1in
                            Width: 23cm / 9.1in
                            Depth: 7cm / 2.8in </p>
                    </div>
                </div>
                <div class="menu" id="details_care">
                <div class="flex_row">
                    <p class="add_inf_header">DETAILS & CARE</p>
                    <button class="button_category" onclick="displayParameters('details_care')">
                        <img src="http://localhost:3000/images/arrow.png" height="25xp" class="">
                    </button>
                </div>
                <div id="details_care_parameters" >
                    <p>Pink satin
                        Top handle
                        Internal slip pocket
                        Fully lined
                        Snap fastening at open top
                        Designer color: Cherry Blossom</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>

</body>
</html>