body {
    margin: 0;
    font-family: "Garamond", serif;
    background: #f1f1f1;
}

/* all about header start*/
header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 15% repeat(6, 10%) 25%;
    text-align: center;
    margin: 0;
    box-shadow: 0px 8px 8px -11px #000000;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #000000;
}

p {margin: 0;}

.section_heading {
    padding: 10px;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Garamond", serif;
}

.section {
    grid-column: 1/-1;
    display: none;
    text-align: start;
}

.subsection_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 16px;
    font-family: sans-serif;
}

.subsection_columns p {
    margin: 20px;
    padding: 5px;
    text-align: center;
}

#shopping_cart_block{
    display: flex;
    justify-content: end;
    padding-right: 90px;
}

#order_num {
    position: relative;
    left: -24px;
    top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #8090f6;
}
/* all about header end*/

#main_block {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#picture_block {
    width: 70%;
    overflow: hidden;
    position: relative;
}

#movable_pictures{
    display: flex;
    left: 0;
    transition: 1s ease-out;
    position: relative;
}

#arrow_left {
    visibility: hidden;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: -50%;
    height: 30px;
    width: 32px;
    padding-top: 5px;
    padding-left: 5px;
}

#arrow_right {
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: calc(-50% - 40px);
    height: 30px;
    width: 30px;
    padding-top: 5px;
    padding-left: 5px;
}

#to_left{
    height: 25px;
    width: 25px;
}
#to_right{
    height: 25px;
    width: 25px;
}

#sticky_pos {
    position: sticky;
    top: 70px;
}

#inf_block {
    width: 50%;
    padding-left: 100px;
}


#addition_info {
    margin-top: 50px;
}

.section_data {
    display: flex;
    font-family: "Gill Sans", sans-serif;
}

.extra_text {
    font-size: 16px;
    color: grey;
}

#title_prod {
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
}

#add_text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

#amount_price{
    margin-top: 40px;
}

#amount_left {
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

#price {
    margin: 17px;
    font-size: 18px;
    font-weight: bold;
}

#color_picked {
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

#color_section {
    margin-top: 40px;
}


#local_taxes {
    margin: 18px;
}

#color_menu {
    margin-top: 10px;
    display: flex;
}

.color_circle_inner {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.color_circle_outer {
    margin: 5px;
    border-radius: 50%;
    padding: 3px;
}

#circle1_inner {background-color: #fff2f2}
#circle2_inner {background-color: black}
#circle3_inner {background-color: yellow}
#circle4_inner {background-color: blue}
#circle5_inner {background-color: red}

#add_to_bag {
    margin-top: 30px;
    width: 60%;
    text-align: center;
    background-color: #000000;
    color: white;
    height: 50px;
    font-size: 18px;
}


#dropdown_menus{
    width: 30%;
}

.menu {
    font-family: "Gill Sans", sans-serif;
    /*border-bottom: 1px solid #bdbdbd;*/
    padding: 20px;
    padding-left: 0;
    overflow: hidden;
    transition: height 1s;
    height: 9px;
    width: 60%;
}

.menu p{
    margin-bottom: 10px;
}

.button_category{
    font-size: 20px;
    border: none;
    background-color: #f1f1f1;
    align-content: end;
}

.product_block {
    text-decoration: none;
    color: #000000;
}

#price_product {
    margin-top: 20px;
    margin-bottom: 10px;
}

.category_block {
    display: flex;
    border: 1px solid #afafaf;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    font-family: "Gill Sans", sans-serif;
}

.flex_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.add_inf_header {
    font-size: 19px;
    font-weight: bold;
}



#editor_parameters {
    font-size: 17px;
}