body {
    margin: 0;
    font-family: "Garamond", serif;
}

h4{
    font-family: "Gill Sans", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* all about header start*/
header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 15% repeat(6, 10%) 25%;
    text-align: center;
    margin: 0;
    box-shadow: 0px 8px 8px -11px #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

p {margin: 0;}

.section_heading {
    padding: 10px;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Garamond", serif;
}

.section {
    grid-column: 1/-1;
    display: none;
    text-align: start;
}

.subsection_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 16px;
    font-family: sans-serif;

}

.subsection_columns p {
    margin: 20px;
    padding: 5px;
    text-align: center;
}

#shopping_cart_block{
    display: flex;
    justify-content: end;
    padding-right: 90px;
}

#order_num {
    position: relative;
    left: -24px;
    top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #8090f6;
}
/* all about header end*/

.section_container {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    padding-right: 10%;
    padding-left: 10%;
}

#title_bags {
    border-bottom: 1px solid grey;
    padding-left: 10%;
    padding-right: 10%;
}
#text_title {
    text-align: center;
}

#sticky_pos {
    position: sticky;
    top: 70px;
}

#dropdown_menus{
    width: 30%;
}

.menu {
    font-family: "Gill Sans", sans-serif;
    border-bottom: 1px solid #bdbdbd;
    padding: 20px;
    overflow: hidden;
    transition: height 1s;
    height: 9px;
}

.menu p{
    font-size: 22px;
    margin-bottom: 10px;
}

.button_category{
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    align-content: end;
}

.parameters input {
    margin-bottom: 10px;
    margin-top: 10px;
}

.product_block {
    text-decoration: none;
    color: #000000;
    margin: 10px;
    width: 90%;
    height: 80%;
}

#price_product {
    margin-top: 20px;
    margin-bottom: 10px;
}

.category_block {
    display: flex;
    border: 1px solid #afafaf;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    font-family: "Gill Sans", sans-serif;
}

.product_img {
    height: 100%;
    width: 100%;
}

#products_section {
    width: 100%;
    margin: 20px;
}

#categories {
    display: flex;
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.flex_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/*check box*/
.checkbox-rect input[type="checkbox"] {
  display: none;
}
.checkbox-rect input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  font: 16px "Open Sans", Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkbox-rect input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.checkbox-rect input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 0.9em;
  height: 0.9em;
  border: 1px solid #343a3f;
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
  width: 1em;
  height: 1em;
  border-radius: 0.2em;
  border: 2px solid #fff;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #50565a;
  box-shadow: 0 0 0 1px #000;
}