<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="http://localhost:3000/creat_product/styles.css" type="text/css">
    <script src="http://localhost:3000/creat_product/script.js" defer></script>
</head>
<body>

<header>
    <div class="section_heading" id="shop_title" >
        <a href="/">Shop name</a>
    </div>
    <div class="section_heading" id="brandName_title" >

    </div>
    <div class="section_heading" id="news_title" >

    </div>
    <div class="section_heading" id="bags_title" >

    </div>
    <div class="section_heading" id="women_title" >

    </div>
    <div class="section_heading" id="men_title" >

    </div>
    <div class="section_heading" id="sales_title" >

    </div>
    <a class="section_heading" id="shopping_cart_block" href="/order" >

    </a>


</header>


<main>

    <div id="container">
        <h2>Creat Item</h2>
        <form id="form_creat_prod" class="forms">
            <div class="info_blocks">
                <label>Product Name:</label>
                <input type="text" placeholder="Product Name" name="product_name" pattern="^[0-9a-zA-Z\s]{1,50}$" required>
                <label>Short description:</label>
                <input type="text" placeholder="Short description" name="short_description" pattern="^[0-9a-zA-Z\s]{1,100}$" required>
            </div>
            <div class="info_blocks">
                <label>Description</label>
                <textarea placeholder="Description" name="description"  required></textarea>
            </div>
            <div class="info_blocks">
                <lable>Category</lable>
                <select name="category" id="categories" required>

                </select>
                <label>Fabric</label>
                <select name="fabric" id="fabric" required>

                </select>
                <label>Price</label>
                <input type="text"  placeholder="Price" pattern="[0-9]{1,}" name="price" required>
            </div>
            <button onclick="addColor()" id="btn_add_section">Add Color</button>
            <section id="color_section">

            </section>
            <button type="submit" id="btn_submit">Confirm</button>
        </form>

        <form id="add_category" class="forms" >
            <h2>Add Category</h2>
            <label class="label">Category Name: </label>
            <input type="text" name="category" pattern="^[a-zA-Z]{1,}$" required>
            <button type="submit"> Creat </button>
        </form>

        <form id="add_fabric" class="forms">
            <h2>Add Fabric</h2>
            <label class="label">Fabric Name: </label>
            <input type="text" name="fabric" pattern="^[a-zA-Z]{1,}$" required>
            <button type="submit"> Creat </button>
        </form>
        <br>
        <label class="label">Password</label>
        <input type="password" id="password" name="password">
        <p id="error_password">Please enter the password</p>
    </div>

</main>

<footer>

</footer>

</body>
</html>