<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="http://localhost:3000/order/styles.css" type="text/css">
    <script src="http://localhost:3000/order/script.js" defer></script>
</head>
<body>

<header>
    <div class="section_heading" onmouseenter="delAllSections()">
        <a href="/">Shop name</a>
    </div>
    <div class="section_heading" id="brandName_title" onmouseenter="addSection(event)">
        <p>Brand names</p>
    </div>
    <div class="section_heading" id="news_title" onmouseenter="addSection(event)">
        <p>News</p>
    </div>
    <div class="section_heading" id="bags_title" onmouseenter="addSection(event)">
        <a href="/bags">Bags</a>
    </div>
    <div class="section_heading" id="women_title" onmouseenter="addSection(event)">
        <p>Women</p>
    </div>
    <div class="section_heading" id="men_title" onmouseenter="addSection(event)">
        <p>Men</p>
    </div>
    <div class="section_heading" id="sales_title" onmouseenter="addSection(event)">
        <p>Sales</p>
    </div>
    <a class="section_heading" id="shopping_cart_block" href="/order" onmouseenter="delAllSections()">
        <img src="http://localhost:3000/images/shopping_cart_3.png" height="35px" width="35px">
        <section id="order_num">0</section>
    </a>

    <div class="section" id="brandName" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
        </div>
    </div>

    <div class="section" id="news" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="bags" onmouseleave="delSection(event)" >
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="men" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="women" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="sales" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

</header>


</body>
</html>