<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="http://localhost:3000/home/styles.css" type="text/css">
    <script src="http://localhost:3000/home/script.js" defer></script>
</head>
<body>

<header>
    <div class="section_heading" onmouseenter="delAllSections()">
        <a href="/">Shop name</a>
    </div>
    <div class="section_heading" id="brandName_title" onmouseenter="addSection(event)">
        <p>Brand names</p>
    </div>
    <div class="section_heading" id="news_title" onmouseenter="addSection(event)">
        <p>News</p>
    </div>
    <div class="section_heading" id="bags_title" onmouseenter="addSection(event)">
        <a href="/bags">Bags</a>
    </div>
    <div class="section_heading" id="women_title" onmouseenter="addSection(event)">
        <p>Women</p>
    </div>
    <div class="section_heading" id="men_title" onmouseenter="addSection(event)">
        <p>Men</p>
    </div>
    <div class="section_heading" id="sales_title" onmouseenter="addSection(event)">
        <p>Sales</p>
    </div>
    <div class="section_heading" onmouseenter="delAllSections()">
        <img src="http://localhost:3000/images/icons.png">
    </div>

    <div class="section" id="brandName" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
        </div>
    </div>

    <div class="section" id="news" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="bags" onmouseleave="delSection(event)" >
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="men" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="women" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

    <div class="section" id="sales" onmouseleave="delSection(event)">
        <div class="subsection_columns">
            <div>
                <p>New In</p>
                <p>Les Classiques</p>
                <p>Bambinos</p>
                <p>Chiquitos</p>
                <p>Bambimous </p>
            </div>
            <div>
                <p>Mini bags</p>
                <p>Shoulder bags</p>
                <p>Cross-body bags</p>
                <p>All Bags</p>
                <p>Sale</p>
            </div>
        </div>
    </div>

</header>

<main>
    <img src="http://localhost:3000/images/w1500_q80_1_1.webp" id="main_img">
    <div style="text-align: center; width: 100%;">
        <p style="font-size: 30px;"> <b>Exclusive access: Alaïa’s sculptural silhouettes </b></p>
        <p style="font-size: 22px; margin: 20px;">Presenting the highly anticipated new collection, featuring four key looks available only at NET‑A‑PORTER for a limited time</p>
        <a id="link_to_page"> View in Our Store</a>
    </div>

    </br></br></br>

    <div class="section_container">
        <div class="info_container">
            <p style="font-size: 18px;">12 NEW ITEMS</p>
            <p style="font-size: 30px;"><b>New in</b></p>
            <p>Stay ahead of the style curve with our latest arrivals</p>
            <button id="button_new"> Shop New In</button>
        </div>
        <button class="trans_button" id="button_new_left" onclick="transitionNewLeft()"> &lt;</button>
            <div class="new_product_container" id="new_group1">
                <div class="new_product_group_1" >
                    <img src="http://localhost:3000/images/w920_a3-4_q60.png" class="product_image">
                    <p class="text_under_new" >Judith</p>
                </div>
                <div class="new_product_group_1">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_2.png" class="product_image">
                    <p class="text_under_new">Tory </p>
                </div>
                <div class="new_product_group_1">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_3.png" class="product_image">
                    <p class="text_under_new">Alai</p>
                </div>
                <div class="new_product_group_1">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_4.png" class="product_image">
                    <p class="text_under_new">Alai</p>
                </div>
            </div>

            <div class="new_product_container" id="new_group2">
                <div class="new_product_group_2">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_5.png" class="product_image">
                    <p class="text_under_new">Erdem</p>
                </div>
                <div class="new_product_group_2">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_6.png" class="product_image">
                    <p class="text_under_new">Shay</p>
                </div>
                <div class="new_product_group_2">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_7.png" class="product_image">
                    <p class="text_under_new">Ulla</p>
                </div>
                <div class="new_product_group_2">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_8.png" class="product_image">
                    <p class="text_under_new">Patou</p>
                </div>
            </div>

            <div class="new_product_container" id="new_group3">
                <div class="new_product_group_3">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_9_11zon.png" class="product_image">
                    <p class="text_under_new">Shay</p>
                </div>
                <div class="new_product_group_3">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_10_11zon.png" class="product_image">
                    <p class="text_under_new">Patou</p>
                </div>
                <div class="new_product_group_3">
                    <img src="http://localhost:3000/images/w920_a3-4_q60_11_11zon.png" class="product_image">
                    <p class="text_under_new">Etro</p>
                </div>
                <div class="new_product_group_3">
                    <img src="http://localhost:3000/images/w2000_a3-4_q80_12.png" class="product_image">
                    <p class="text_under_new">Amina Muaddi</p>
                </div>
            </div>
        <button class="trans_button" id="button_new_right" onclick="transitionNewRight()"> &gt; </button>
    </div>


    <div id="news_sections_container">
        <div>
            <img class="news_pic" src="http://localhost:3000/images/w1500_3_1.webp">
            <p class="news_text"><b> What to wear to your next wedding</b></p>
            <p class="news_text"> Embrace the joy of dressing up with our roundup of the stylish new looks for every type of ceremony</p>
        </div>
        <div style="margin-left: 20px; margin-right: 20px;">
            <img class="news_pic" src="http://localhost:3000/images/w1500_3_2.webp">
            <p class="news_text"><b> Zimmermann's modern romance </b></p>
            <p class="news_text">We shine a spotlight on the designer's dream-worthy looks -perfect for the new season and beyond </p>
        </div>
        <div >
            <img class="news_pic" src="http://localhost:3000/images/w1500_3_1.webp">
            <p class="news_text"><b> What to wear to your next wedding</b></p>
            <p class="news_text"> Embrace the joy of dressing up with our roundup of the stylish new looks for every type of ceremony</p>
        </div>
    </div>

    <div class="section_container">
        <div class="info_container">
            <p style="font-size: 30px;"><b>Let's get away...</b></p>
            <p>discover the ultimate packing checklist for every destination</p>
            <button id="button_new"> Shop the travel edit</button>
        </div>
        <button class="trans_button" id="button_sales_left" onclick="transitionSalesLeft()"> &lt;</button>
        <div class="sales_product_container" id="sales_group1">
            <div class="sales_product_group_1" >
                <img src="http://localhost:3000/images/w920_a3-4_q60.png" class="product_image">
                <p style="text-align: center">Judith</p>
            </div>
            <div class="sales_product_group_1">
                <img src="http://localhost:3000/images/w920_a3-4_q60_2.png" class="product_image">
                <p style="text-align: center">Tory </p>
            </div>
            <div class="sales_product_group_1">
                <img src="http://localhost:3000/images/w920_a3-4_q60_3.png" class="product_image">
                <p style="text-align: center">Alai</p>
            </div>
            <div class="sales_product_group_1">
                <img src="http://localhost:3000/images/w920_a3-4_q60_4.png" class="product_image">
                <p style="text-align: center">Alai</p>
            </div>
        </div>

        <div class="sales_product_container" id="sales_group2">
            <div class="sales_product_group_2">
                <img src="http://localhost:3000/images/w920_a3-4_q60_5.png" class="product_image">
                <p style="text-align: center">Erdem</p>
            </div>
            <div class="sales_product_group_2">
                <img src="http://localhost:3000/images/w920_a3-4_q60_6.png" class="product_image">
                <p style="text-align: center">Shay </p>
            </div>
            <div class="sales_product_group_2">
                <img src="http://localhost:3000/images/w920_a3-4_q60_7.png" class="product_image">
                <p style="text-align: center">Ulla</p>
            </div>
            <div class="sales_product_group_2">
                <img src="http://localhost:3000/images/w920_a3-4_q60_8.png" class="product_image">
                <p style="text-align: center">Patou</p>
            </div>
        </div>

        <div class="sales_product_container" id="sales_group3">
<!--            <button> &lt;</button>-->
            <div class="sales_product_group_3">
                <img src="http://localhost:3000/images/w920_a3-4_q60_9_11zon.png" class="product_image">
                <p style="text-align: center">Shay</p>
            </div>
            <div class="sales_product_group_3">
                <img src="http://localhost:3000/images/w920_a3-4_q60_10_11zon.png" class="product_image">
                <p style="text-align: center">Patou </p>
            </div>
            <div class="sales_product_group_3">
                <img src="http://localhost:3000/images/w920_a3-4_q60_11_11zon.png" class="product_image">
                <p style="text-align: center">Etro</p>
            </div>
            <div class="sales_product_group_3">
                <img src="http://localhost:3000/images/w2000_a3-4_q80_12.png" class="product_image">
                <p style="text-align: center">Amina Muaddi</p>
            </div>
        </div>
        <button class="trans_button" id="button_sales_right" onclick="transitionSalesRight()"> &gt; </button>
    </div>

</main>

<footer>

</footer>

</body>
</html>